<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>set_alarm</key>
	<true/>
	<key>alarm_hour</key>
	<integer>11</integer>
	<key>days_to_alarm</key>
	<integer>0</integer>
</dict>
</plist>
